body {
    font-family: Tahoma, sans-serif;
}

.img-thumbnail {
    width: 5rem;
    height: 5rem;
}

#signup-container {
    height: 81vh !important;
}

#footer {
    position: static;
    width: 100%;
}