{% extends "master.html" %}
{% block content %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'ordered.css' %}">
{% endblock extra_css %}
<div class="container-order">
    <div class="img-container">
        <img src="{% static 'green_tick.png' %}" class="img-responsive" alt="" width="300" height="300">
    </div>
    <div class="message-container">
        <h2>Thank you {{ Customer.First_Name }}</h2>
        <h2>Your <strong>Order</strong> has been placed</h2>
        <p>Please check your email for a confirmation.
            Once the order has been shipped,<br> you will receive
            another confirmation of this. You can also check
            the status <br> of your order, in your orders.
        </p>
    </div>
</div>

<div class="message-container">
    <p style="text-decoration: underline;">**This is a mock transaction. No monetary transaction has taken place. A mock order has been placed within our Database however, demonstrating how a real transaction would take place</p>
</div>
{% endblock %}

{% block js %}
<script>
    const navbar = document.getElementById('navbar');
    navbar.style.backgroundColor = '#d1e7dd';
</script>
{% endblock %}